<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>Denunciar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formDenuncia" (ngSubmit)="adicionar()">
    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-textarea formControlName="descricao"></ion-textarea>
    </ion-item>
    <ion-row>
      <button ion-button type="submit" padding block>Enviar</button>
    </ion-row>
  </form>
</ion-content>
