<!--
  Generated template for the ListarAnunciosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>Anúncios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <button text-center ion-button (click)="adicionarAnuncio()">
          Criar Anúncio
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <button
            text-center
            ion-item
            *ngFor="let item of items"
            (click)="showDetail(item.id)"
          >
            <h2>{{ item.titulo }}</h2>
            Preço com percentual:
            {{ item?.precoComPercentual | currency: "BRL" }} <br />

            Preço normal: {{ item?.preco | currency: "BRL" }}
          </button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
