<ion-content>
  <ion-list></ion-list>
  <ion-list>
      <button ion-item (click)="onLoad('ListarPicosPage')">
        <ion-icon name="home" item-left>
        </ion-icon>
        Home
      </button>
      <button ion-item (click)="onLoad('ListarFeedPage')">
        <ion-icon name="paper" item-left>
        </ion-icon>
        Feed
      </button>
      <button ion-item (click)="onLoad('ListarDenunciasPage')">
        <ion-icon name="flag" item-left>
        </ion-icon>
        Denuncias
      </button>
      <button ion-item (click)="onLoad('ListarDenunciasAdminPage')">
        <ion-icon name="flag" item-left>
        </ion-icon>
        Denuncias - Admin
      </button>
    <button ion-item (click)="onLoad('FavoritosPage')">
      <ion-icon name="star" item-left>
      </ion-icon>
      Favoritos
    </button>
    <!-- <button ion-item (click)="onLoad('ListarContatosPage')">
      <ion-icon name="person" item-left>
      </ion-icon>
      Contatos
    </button>
    <button ion-item (click)="onLoad('ListarEventosPage')">
      <ion-icon name="trophy" item-left>
      </ion-icon>
      Eventos
    </button> -->
    <button ion-item (click)="onLoad('ListarMutiraoPage')">
      <ion-icon name="construct" item-left>
      </ion-icon>
      Mutirões
    </button>
    <!-- <button ion-item (click)="onLoad('ListarSessaoPage')">
      <ion-icon name="calendar" item-left>
      </ion-icon>
      Sessões
    </button>
    <button ion-item (click)="onLoad('ListarAnunciosPage')">
      <ion-icon name="basket" item-left>
      </ion-icon>
      Anúncios
    </button> -->
    <button ion-item (click)="logout()">
      <ion-icon name="md-log-out" item-left>
      </ion-icon>
      Sair
    </button>
  </ion-list>
</ion-content>
