
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title text-center>Eventos</ion-title>
  </ion-navbar>



</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <button text-center ion-button (click)="cadastrarEvento()">
          Criar Evento
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <button text-center
            ion-item *ngFor="let item of items"
            (click)="detalhesEvento(item.id)">
            <h2>{{item.nome}}</h2>
          </button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
