<ion-header>
    <ion-navbar>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-title text-center>Adicionar Vídeo</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
    <form *ngIf="formVideo" [formGroup]="formVideo" (ngSubmit)="adicionar()">
      <ion-item>
        <ion-label floating>Descrição</ion-label>
        <ion-textarea formControlName="descricao"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Url Youtube</ion-label>
        <ion-input type="text" formControlName="urlYoutube"></ion-input>
      </ion-item>
      <ion-row>
        <button ion-button type="submit" padding block>Salvar</button>
      </ion-row>
    </form>
  </ion-content>
