<ion-header>
  <ion-navbar>
    <ion-title>Fotos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngFor="let foto of fotos">
    <ion-card *ngIf="foto">

    <img src="http://localhost:8080/api/download/{{foto?.path}}" />
      <ion-row padding>Descrição: {{foto?.descricao}}</ion-row>
      <ion-row padding><ion-note>{{foto?.usuario?.nome}}</ion-note></ion-row>
    </ion-card>
  </div>
</ion-content>
