<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>Feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <div *ngFor="let feed of feeds">
      <ion-card>
        <ion-card-content (tap)="goToDetalhe(feed.id, feed.tipo)">
          <ion-row>
            <ion-col text-left> {{ feed.descricao }} </ion-col>
            <ion-col text-right>
              <ion-note>
                {{ feed?.usuario?.nome }}-{{ feed.data | date: "medium" }}
              </ion-note></ion-col
            >
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
