<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>Adicionar Foto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="formFoto" [formGroup]="formFoto" (ngSubmit)="adicionar()">
    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-textarea formControlName="descricao"></ion-textarea>
    </ion-item>
    <ion-item>
      <input
        type="file"
        (change)="onFileChange($event)"
        placeholder="Foto"
        accept=".jpeg,.jpg,.png"
      />
    </ion-item>
      <button ion-button type="submit" padding block>Salvar</button>
  </form>
</ion-content>
