<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>Participantes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <div *ngFor="let participante of participantes">
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col text-left> {{ participante.nome }} </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
