<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>Selecione o Pico</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-searchbar
      (ionInput)="filtrar($event)"
      placeholder="Filtrar"
    ></ion-searchbar>

    <div *ngFor="let pico of picos">
      <ion-card>
        <ion-card-content (tap)="goToParticipantes(pico.id)">
          <ion-row>
            <ion-col text-left> {{ pico.nome }} </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
