<!--
  Generated template for the CadastrarEventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Novo Evento</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <form [formGroup]="formEvento" (ngSubmit)="adicionarEvento()">
    <ion-item>
      <ion-label floating>Título</ion-label>
      <ion-input type="text" formControlName="nome" ngModel required></ion-input>
    </ion-item>
    <button ion-button type="submit"  block [disabled]="!formEvento.valid" >Salvar</button>
  </form>
</ion-content>
