<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Denuncias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <div *ngFor="let denuncia of denuncias">
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col col-auto text-left>
              Descrição: {{ denuncia.descricao }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-auto text-left>
              Pico denunciado: {{ denuncia?.pico?.nome }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-auto text-left>
              Status: {{ denuncia.status }}
            </ion-col>
          </ion-row>

          <ion-row *ngIf="denuncia.status !== 'Rejeitada' && denuncia.status !== 'Aceita'">
            <ion-col col-auto>
              <button ion-button icon-start clear small (click)="aceitar(denuncia)">
                <ion-icon name="thumbs-up"></ion-icon>
                <div>Aceitar Denúncia</div>
              </button>
            </ion-col>
            <ion-col col-auto>
                <button ion-button icon-start clear small (click)="rejeitar(denuncia)">
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>Rejeitar Denúncia</div>
                </button>
              </ion-col>
          </ion-row>
          <ion-row *ngIf="denuncia.status === 'Rejeitada' || denuncia.status === 'Aceita'">
            <button ion-button icon-start clear small disabled="true">
              <div>{{denuncia?.status}}</div>
            </button>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
