<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>Picos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-searchbar (ionInput)="filtrar($event)" placeholder="Filtrar"></ion-searchbar>
    <ion-row>
      <ion-col><button ion-button icon-start clear small (click)="goToAdicionarPico()">Adicionar Pico</button></ion-col>
      <!-- <ion-col col-3 ><button block ion-button>Buscar</button></ion-col> -->
    </ion-row>

    <div *ngFor="let pico of picos">
      <ion-card >
        <ion-card-content (tap)="goToDetalhe(pico.id)">
          <ion-row>
            <ion-col text-left> {{ pico.nome }} </ion-col>
            <ion-col text-right> {{ pico.distancia | number:'1.2-2' }}km </ion-col>
        </ion-row>
        </ion-card-content>
        <ion-row *ngIf="pico?.endereco?.localizacao?.latitude">
            <button ion-button icon-start clear small (click)="navegar(pico.endereco.localizacao.latitude, pico.endereco.localizacao.longitude)">
                <ion-icon name="navigate"></ion-icon>
                <div>Navegar até o pico</div>
              </button>
        </ion-row>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
