<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #f="ngForm" (ngSubmit)="onSignup(f)">
    <ion-list>
      <ion-item>
        <ion-label fixed>
          Email
        </ion-label>
        <ion-input type="email" ngModel name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>
          Password
        </ion-label>
        <ion-input type="password" ngModel name="password" [minlength]="6" required></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="!f.valid">Cadastrar</button>
  </form>
</ion-content>
