
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>Mutirões</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-searchbar
      (ionInput)="filtrar($event)"
      placeholder="Filtrar"
    ></ion-searchbar>
    <ion-row>
      <ion-col
        ><button
          ion-button
          icon-start
          clear
          small
          (click)="goToAdicionarMutirao()"
        >
          Criar Mutirão
        </button></ion-col
      >
    </ion-row>

    <div *ngFor="let mutirao of mutiroes">
      <ion-card>
        <ion-card-content (tap)="goToDetalhe(mutirao.id)">
          <ion-row>
            <ion-col text-left> {{ mutirao.pico.nome }} </ion-col>
            <ion-col text-right>
              <ion-note>{{ mutirao.dataMutirao | date: 'medium' }} </ion-note></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
