<!--
  Generated template for the CadastraAnuncioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Editar Mutirão</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <form text-center [formGroup]="formMutirao"  (ngSubmit)="salvarMutirao()">
    <ion-item>
      <ion-label floating>Título</ion-label>
      <ion-input type="text" formControlName="titulo" placeholder="titulo" name="titulo" [(ngModel)]="item2.titulo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Preço</ion-label>
      <ion-textarea formControlName="preco"    required
                    placeholder="preco" name="preco"  [(ngModel)]="item2.preco" type="number"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-textarea formControlName="descricao"  name="descricao"  placeholder="descricao" [(ngModel)]="item2.descricao" required></ion-textarea>
    </ion-item>
    <button text-center ion-button type="submit"  block [disabled]="!formMutirao.valid">
      Salvar</button>
  </form>
</ion-content>
