<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>Escolha os participantes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form
    *ngIf="formUsuario"
    [formGroup]="formUsuario"
    (ngSubmit)="goToCadastrar(formUsuario.value)"
  >
    <ion-grid>
      <ion-searchbar
        (ionInput)="filtrar($event)"
        placeholder="Filtrar"
      ></ion-searchbar>

      <div *ngFor="let user of users.controls; let i = index">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col col-auto ><ion-checkbox [formControl]="user"> </ion-checkbox></ion-col>
              <ion-col text-left> {{ usuarios[i].nome }} </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-row> <button type="submit" ion-button block>Selecionar</button> </ion-row>
    </ion-grid>
  </form>
</ion-content>
