<!--
  Generated template for the DetalhesAnuncioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Detalhes do Anúncio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-card text-center>
        <ion-card-content>
          <ion-card-title>
            {{item?.titulo}}
          </ion-card-title>
          <p>
            {{item?.descricao}}
          </p>
          <p>
            Preço com percentual: {{item?.precoComPercentual | currency:'BRL'}} <br/>
            Preço normal: {{item?.preco | currency:'BRL'}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="editarAnuncio(item, id)">Editar</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="excluirAnuncio()" color="danger">Excluir</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
