-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Selecione a Data</ion-title>
  </ion-navbar>


</ion-header>

<ion-content padding>
  <form text-center [formGroup]="formMutirao" (ngSubmit)="cadastrarMutirao()">
    <ion-item>
      <ion-label floating>Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY"
                    cancelText="Cancelar"
                    doneText="Ok"
                    [min]="dataCriacao"
                    max="2025"
                    ngModel pickerFormat="YYYY-MM-DDTHH:mm:ssTZD"
                    formControlName="dataMutirao">

      </ion-datetime>
    </ion-item>
    <button ion-button type="submit"  block [disabled]="!formMutirao.valid" >Salvar</button>
  </form>
</ion-content>
