<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Detalhes do Pico</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-title padding> {{ item?.nome }} </ion-card-title>
    <img src="http://localhost:8080/api/download/{{item?.urlCapa}}" />
    <ion-card-content> {{ item?.descricao }} </ion-card-content>

    <ion-row padding>Endereço: {{ item?.endereco?.rua }},
      {{ item?.endereco?.numero === 0 ? "S/N" : item?.endereco?.numero }}
    </ion-row>
    <ion-row padding>Entrada: {{ item?.entrada === 0 ? "Gratuita" : item?.entrada }}</ion-row>
    <ion-row>
      <ion-col col-auto>
        <button ion-button icon-start clear small (click)="
            navegar(
              item.endereco.localizacao.latitude,
              item.endereco.localizacao.longitude
            )
          ">
          <ion-icon name="navigate"></ion-icon>
          <div>Navegar até o pico</div>
        </button>
      </ion-col>
      <ion-col col-auto>
        <button ion-button icon-start clear small (click)="editarFavorito()">
          <div *ngIf="item?.favorito">
            <ion-icon name="trash"></ion-icon>
            Remover Favorito
          </div>
          <div *ngIf="!item?.favorito">
            <ion-icon name="star-outline"></ion-icon>Adicionar Favorito
          </div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-auto>
        <button ion-button icon-start clear small (click)="goToAddVideos(item?.id)">
          <ion-icon name="add"></ion-icon>
          <div>Adicionar Vídeo</div>
        </button>
      </ion-col>
      <ion-col col-auto>
        <button ion-button icon-start clear small (click)="goToAddFotos(item?.id)">
          <ion-icon name="add"></ion-icon>
          <div>Adicionar Foto</div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-auto>
        <button ion-button icon-start clear small (click)="goToAddDenuncia(item?.id)">
          <ion-icon name="flag"></ion-icon>
          <div>Denunciar</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-list>
    <ion-list-header>Opções</ion-list-header>
    <ion-item (tap)="goToComentarios(item?.id)">
      <ion-row>
        <ion-col>Comentários ({{
          item?.comentarios ? item.comentarios.length : 0
          }})</ion-col>
        <ion-col text-right>></ion-col>
      </ion-row>
    </ion-item>
    <ion-item (tap)="goToVideos(item?.id)">
      <ion-row>
        <ion-col>Vídeos ({{
            item?.videos ? item.videos.length : 0
            }})</ion-col>
        <ion-col text-right>></ion-col>
      </ion-row>
    </ion-item>
    <ion-item (tap)="goToFotos(item?.id)">
      <ion-row>
        <ion-col>Fotos ({{
          item?.fotos ? item.fotos.length : 0
          }})</ion-col>
        <ion-col text-right>></ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
