<ion-header>
  <ion-navbar>
    <ion-title>Vídeos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngFor="let video of videos">
    <ion-card *ngIf="videos">
      <iframe width="560" height="315" [src]="video.url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <ion-row>Descrição: {{video?.descricao}}</ion-row>
      <ion-row><ion-note>{{video?.usuario?.nome}}</ion-note></ion-row>
    </ion-card>
  </div>
</ion-content>
