<ion-content padding>
  <form class="form-login" (ngSubmit)="doLogin()" [formGroup]="formLogin">
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input formControlName="login">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input [type]="password" formControlName="password" maxlength="8" name="senha"></ion-input>
    </ion-item>
    <button ion-button>Logar</button>
  </form>
</ion-content>