<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>Comentários</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <form
      padding
      [formGroup]="formComentario"
      (ngSubmit)="adicionarComentario()"
    >
      <ion-row>
        <ion-item>
          <ion-label floating>Comentario</ion-label>
          <ion-input type="text" formControlName="comentario"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row
        ><ion-col text-right
          ><button ion-button type="submit">Enviar</button></ion-col
        ></ion-row
      >
    </form>
    <div *ngFor="let comentario of pico?.comentarios">
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col text-left> {{ comentario.texto }} </ion-col>
            <ion-col text-right>
              <ion-note>{{ comentario.usuario.nome }}</ion-note>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
