<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>Denuncias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <div *ngFor="let denuncia of denuncias">
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col col-auto text-left>
              Descrição: {{ denuncia.descricao }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-auto text-left>
              Pico denunciado: {{ denuncia?.pico?.nome }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-auto text-left>
              Status: {{ denuncia.status }}
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
