<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title text-center>Detalhes do Mutirão</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-title padding> Mutirão {{ item?.pico.nome }} </ion-card-title>
    <img src="http://localhost:8080/api/download/{{item?.pico.urlCapa}}" />
    <ion-card-content>
      <ion-row>
        <ion-col text-left>Local: {{ item?.pico.nome }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-left>
          Data: {{ item?.dataMutirao | date: "medium" }}</ion-col
        >
      </ion-row>
    </ion-card-content>

    <ion-row>
      <ion-col *ngIf="item?.criador?.nome === 'Allan Tomasini'">
        <button ion-button icon-start clear small (click)="excluirMutirao()">
          <ion-icon name="trash"></ion-icon>
          <div>Excluir</div>
        </button>
      </ion-col>
      <ion-col>
        <button *ngIf="participante && item?.criador?.nome !== 'Allan Tomasini'" ion-button icon-start clear small (click)="sair()">
          <div >
            <ion-icon name="md-log-out"></ion-icon>
            Sair
          </div>
        </button>
        <button *ngIf="!participante && item?.criador?.nome !== 'Allan Tomasini'" ion-button icon-start clear small (click)="participar()">
          <div >
              <ion-icon name="add"></ion-icon>Participar
            </div>
        </button>

      </ion-col>
    </ion-row>
  </ion-card>
  <ion-list>
    <ion-list-header>Opções</ion-list-header>

    <ion-item (tap)="goToParticipantes(item?.participantes)"
      ><ion-row>
        <ion-col
          >Participantes ({{ item ? item.participantes.length : 0 }})</ion-col
        ><ion-col text-right>></ion-col></ion-row
      ></ion-item
    >
  </ion-list>
</ion-content>
